@reference "../index.css";

.services {
  @apply grid;
  @apply gap-6;
  @apply justify-center;

  grid-template-columns: repeat(auto-fit, 1fr);
}

@media screen and (min-width: 898px) {
  .services {
    grid-template-columns: repeat(auto-fit, 24rem);
  }
}
